
.cart{
    background-color: #fcd19a;
    padding: 20px;
    position: sticky;
    top: 0;
}
.btn-clear-cart{
    width: 90%;
    height: 56px;
    margin: 1px auto;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    background-color: #FF3030;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}