.product {
    width: 300px;
    height: 510px;
    border: 1px solid #2b2e2dd8;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-info {
    margin-left: 14px;
}

.product-name {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    word-spacing: 0.00015em;
    font-style: normal;
    font-family: 'Lato';

}

.product p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-cart {
    width: 100%;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    font-size: 21px;
    border:  1px solid #2b2e2dd8;
    border-radius: 0 0 8px 8px;
    padding-top: 10px;
    padding-bottom: 5px;

}